/** @format */
#showcase {
  background-image: url('./assets/images/parallax1.png'),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

input[type='text'] {
  border: 1px solid white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* .col {
  height: 13rem;
  margin-left: 2rem;
} */
